<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>my girlfriends tattoo of her cat in a shark costume and her actual cat in a shark costume</string>
	<string>Tanker truck explodes on Los Angeles highway, taco truck proceed to sell tacos in traffic jam</string>
</array>
</plist>
