<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>My dad sent me a picture of my mom and the nice young man at their table at a charity dinner last night.</string>
	<string>Gotta time it just right.</string>
</array>
</plist>
