<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Borderlands wig made out of foam by Goldvester Cosplay</string>
	<string>TIL The guy who started Atari sold the company and used the money to start Chuck E. Cheese</string>
</array>
</plist>
